/* Base styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
}

body {
  box-sizing: border-box;
  background-color: #000133;
  background-image: linear-gradient(0deg, #04619f 0%, #000133 100%);
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* Typography */

h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin: 2rem 0;
  border-bottom: 1px solid #ff00ff;
}

p {
  font-family: "Merriweather", serif;
}

/* Layout styles */

main {
  margin: 5rem 2rem;
}

/* Header styles */

.header {
  background-color: #000133;
  border-bottom: 1px solid #fff;
}

/* Navigation styles */

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.navbar__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.navbar__link:hover {
  background-color: #ff00ff;

  /* color: #000133; */
  transition: ease 0.4s all;
}

/* Main styles */

.hero {
  padding: 2rem;
}

/* Section styles */

.section__container {
  padding: 2rem;
}

.section__container p {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  border-radius: 0.3rem;
}

/* Footer styles */

.footer {
  background-color: #000133;
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
}
