/* Base styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  background-color: #000133;
  background-image: linear-gradient(0deg, #04619f 0%, #000133 100%);
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* Typography */

h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  margin-top: 4rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin: 2rem 0;
  border-bottom: 1px solid #ff00ff;
}

@media only screen and (min-width: 56.25em) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }
}

p {
  font-family: "Merriweather", serif;
}

/* Layout styles */

main {
  margin: 6rem 2rem;
}

/* Main styles */

.hero {
  padding: 2rem;
  display: flex;
}

@media only screen and (min-width: 37.5em) {
  .hero {
    padding-top: 6rem;
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .hero {
    padding-top: 8rem;
    padding-left: 6rem;
  }
}

/* Header styles */

.header {
  background-color: #000133;
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Navigation styles */

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

@media only screen and (min-width: 37.5em) {
  .navbar__list {
    justify-content: flex-end;
  }
}

.navbar__item {
  flex: 1 1 auto;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  .navbar__item {
    flex: 0;
    padding: 0 2rem;
  }
}

.navbar__item:hover {
  background-color: #33345c;
  transition: ease 0.4s all;
}

.navbar__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

@media only screen and (min-width: 37.5em) {
  .navbar__link {
    padding: 2rem 0;
  }
}

.navbar__item.active {
  background-color: #33345c;
}

/* Section styles */

.section.active {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.section__container {
  padding: 4rem 2rem 6rem 2rem;
}

@media only screen and (min-width: 37.5em) {
  .section__container {
    max-width: 40em;
    padding: 6rem 4rem 8rem 4rem;
  }

  .section:nth-of-type(even) .section__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
}

@media only screen and (min-width: 56.25em) {
  .section__container {
    padding: 8rem 6rem 12rem 6rem;
  }
}

@media only screen and (min-width: 75em) {
  .section__container {
    max-width: 60em;
  }
}

.section__container p {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  border-radius: 0.3rem;
}

/* Footer styles */

.footer {
  background-color: #000133;
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
}
